body{margin: 0;padding: 0;}
#content{overflow: hidden;}
#content .main-menu{float: left; width: 250px;background: #ddd; }
#content .main-menu .categories-list { margin: 0; padding: 0; }
#content .main-menu .categories-list li{ list-style-type: none;  }
#content .main-menu .categories-list a{ display: block; padding: 4px 15px;   }
#content .main-content{float: left;}